@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-grad: #faf002;
  --pink-grad: #ff18e8;
}

.App {
  color: white;
  text-align: center;
}

.container {
  width: 20rem;
  height: 20rem;
  background-image: linear-gradient(to top right, var(--yellow-grad), var(--pink-grad));
}